Checks: >
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nullptr,
  -modernize-macro-to-enum,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-optin.performance.Padding
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/valkyria-lisp/src/.*\.h$'
SystemHeaders: false
UseColor: true
