Checks: >
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nullptr,
  -modernize-macro-to-enum,
  -modernize-avoid-c-style-cast,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-optin.performance.Padding,
  -performance-no-int-to-ptr
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/.*\.h$'
SystemHeaders: false
UseColor: true
